 <h1> Company: <%= company.name %></h1>
 <h1> Address: <%= company.address %></h1>
 <h1> Commerce: <%= company.commerce %></h1>


 <%= link_to "Delete", "/companies/#{company.id}", method: :delete %> 